<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Database editor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

</head>

<body>
    <div class="container">

        <h1 style="text-align: center;">Mongo Explorer</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">

                    <div id="databases">
                        <h2>Databases</h2>
                        <form id="formDB">

                            <p>Please choose a database</p>
                            <select name="databases" id="db-select">

                                <option value="">--Please choose an option--</option>
                                <% databases.forEach(  database=>{ %>
                                <option value=<%= database.name %>><%= database.name %></option>


                                <% }) %>
                            </select>
                            <button class="btn btn-outline-info" type="submit">Open</button>
                        </form>
                    </div>
                    <br>
                    <div id="collections">
                    </div>
                    <br>
                    <div id="rows">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/collections.js"></script>
</body>

</html>